<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Form</h1>

    <script>
        var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/')

        ws.onopen = function (){
            console.log("websocket connection open..........")
        }

        ws.onmessage = function(event){
            console.log("massege recived from server...", event)
        }

        ws.onerror = function(event){
            console.log("Websocket error occured...", event)
        
        }

        ws.onclose = function(event){
            console.log("Websocket close..", event)
        
        }
    </script>
</body>
</html>